header {
	text-align: center;
	margin: auto;
	font-size: 2em;
	font-weight: 700;
	background: black;
	color: white;
}

html body > img {
	z-index: -5;
	position: absolute;
	width: auto;
	min-height: 100%;

}

h4 {
	font-size: 1.6em;
	margin: 10px 0 10px 0;
	color: white;
}

section span {
	display: block;
	border-radius: 50%;
	border: 1px solid black;
	float: right;
	height: 15em;
	margin-top: 5px;
	overflow: hidden;
	postion: relative;
}

section span img {
	display: block;
	height: 100%;
	width: auto;
}

section {
	color: white;
}

p {
	margin-bottom: 10px;
	display: block;
	color: white;
	font-size: 1.3em;
}

p a {
	width: 80%;
	display: block;
	margin: 20px auto;

}

span.res {
	positon: relative;
}


.l {
	float: left;
	color: white;
	margin-left: 10px;
}

.r {
	float: right;
	color: white;
	margin-right: 10px;
}

.text a {
	opacity: .5;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

.text a:hover {
	opacity: 1;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

.me a {
	width: auto;
	display: inline-block;
	margin: 0 0;
	color: white;
	text-decoration: underline;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}

.me a:hover {
	-webkit-animation-name: hvr-pop;
	animation-name: hvr-pop;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

@-webkit-keyframes hvr-pop {
	50% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}

@keyframes hvr-pop {
	50% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}

.me a.res {
	display: inline-block;
	height: auto;
	width: 4em;
	float: right;
	margin-right: 20px;
	position: relative;
}

.me a.res span {
	color: white;
	text-decoration: underline;
	position: absolute;
	top: calc(-1em - 3px);
	left: 50%;
	transform: translatex(-50%);
}

.me a.res img.resume {
	display: block;
	width: 100%;
	height: auto;
}

a img {
	width: 100%;
	height: auto;
}

h2 {
	text-align: center;
	color: white;
}

.rb-grid {
	list-style: none;
	text-align: center;
	margin: 0 auto;
}

.rb-grid li {
	width: 49%;
	height: 25em;
	margin: 0.5%;
	background: #8CC7DF;
	color: #fff;
	display: block;
	float: left;
	padding: 1.6em;
	cursor: pointer;
	position: relative;
}

.rb-grid li h3 {
	font-size: 2.6em;
	font-weight: 100;
}


.rb-temp {
	display: block;
	font-size: 2em;
	opacity: 0.5;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.rb-grid li:hover .rb-temp {
	opacity: 1;
}

.rb-overlay {
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #444;
	-webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease, clip 0.4s ease;
	-moz-transition: opacity 0.4s ease, -moz-transform 0.4s ease, clip 0.4s ease;
	transition: opacity 0.4s ease, transform 0.4s ease, clip 0.4s ease;
	z-index: -1;
	pointer-events: none;
	cursor: default;
}

.rb-close {
	position: absolute;
	top: 0.4em;
	right: 0.4em;
	width: 2em;
	height: 2em;
	text-indent: -9000px;
	cursor: pointer;
	z-index: 1000;
}

.rb-close::before {
	content: 'x';
	font-weight: 100;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 3em;
	line-height: 0.6;
	text-align: center;
	text-indent: 0px;
}

.rb-week {
	width: 100%;
	height: 100%;
}

.rb-week > div {
	width: 100%;
	height: 100%;
	float: left;
	position: relative;
	padding: 0 0 3% 0;
}

.rb-week span {
	padding: 0 0 1% 0;
	font-size: 1em;
	font-weight: 100;
	display: block;
	margin: 1% auto;
	height: 30%;
	width: 50%;
	line-height: 0.8;
}

.rb-week span.rb-city {
	font-weight: 700;
	padding: 1% 5%;
	font-size: 1em;
	line-height: 1.2;
}

.rb-week p.text {
	font-size: 3em;
	display: block;
}

.rb-week p.text a {
	width: 60%;
	height: auto;
}

/* Colors */

/* Grid */
.rb-grid li:nth-child(1) { background: #3399CC; }
.rb-grid li:nth-child(2) { background: #4EB556; }
.rb-grid li:nth-child(3) { background: #34BDBF; }
.rb-grid li:nth-child(4) { background: #1F4B91; }


/* Overlay Columns */
.rb-grid li:nth-child(1) .rb-week > div:nth-child(1) { background: #3399CC; }


.rb-grid li:nth-child(2) .rb-week > div:nth-child(1) { background: #4EB556; }


.rb-grid li:nth-child(3) .rb-week > div:nth-child(1) { background: #34BDBF; }


.rb-grid li:nth-child(4) .rb-week > div:nth-child(1) { background: #1F4B91; }



@media screen and (max-width: 63.125em) {

	.rb-grid li {
		width: 100%;
		height: 10em;
		text-align: left;
	}

	.rb-grid li > div {
		text-align: center;
	}
}
